###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################


#################  N A G I O S   A D M I N  ##################

define contact{
        contact_name                    nagiosadmin		; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Nagios Admin		; Full name of user
        email                           sajal@credr.com		; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
	contactgroups			admins
        }



define contact{
        contact_name                    mohit                   ; Short name of user
        use                             generic-contact         ; Inherit default values from generic-contact template (defined above)
        alias                           Mohit Chhazed	        ; Full name of user
#        email                           mohit.c@credr.com 	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        contactgroups                   admins
	service_notification_commands 	notify-service-by-email
	host_notification_commands 	notify-host-by-email
        }

#################  S E R V E R   U S E R S  ##################

define contact{
        contact_name                    nagiosinfra
        use                             generic-contact
        alias                           Nagios Infra User
        contactgroups                   infraadmins
        }

define contact{
        contact_name                    vivek
        use                             generic-contact
        alias                           Vivek Dogra
#        email                           vivek.dogra@credr.com
        contactgroups                   infraadmins
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        }

################  D A T A B A S E   U S E R S  ################

define contact{
	contact_name			nagiosdb
	use				generic-contact
	alias				Nagios Database User
	contactgroups                   dbadmins
	}

define contact{
	contact_name			nitin
	use				generic-contact
	alias				Nitin Magdum
#	email				nitin.magdum@credr.com
	contactgroups			dbadmins
	service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
	}

define contact{
	contact_name			suneet
	use				generic-contact
	alias				Suneet Rana
#	email				suneet@credr.com
	contactgroups			dbadmins
	service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
	}

define contact{
	contact_name			sudheer
	use				generic-contact
	alias				Sudheer Katta
#	email				sudheer@credr.com
	contactgroups			dbadmins
	service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
	}

###############################################################################
#
# CONTACT GROUPS
#
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin,mohit
        }

define contactgroup{
        contactgroup_name       dbadmins
        alias                   Database Administrators
        members                 nagiosadmin,mohit,nitin,suneet,sudheer,nagiosdb	
	}

define contactgroup{
        contactgroup_name       infraadmins
        alias                   Database Administrators
        members                 nagiosadmin,mohit,nagiosinfra
        }

###########################  E N D   O F   F I L E  ############################
